<button mat-button printTitle="Invoice"   printSectionId="print-section" [useExistingCss]="true"  ngxPrint>Print <mat-icon>print</mat-icon> </button>

<div class="container" id="print-section">
    <mat-card  class="text-center text-muted">
        <mat-card-header>Hello</mat-card-header>
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">SPrice</th>
                
            </thead>
            <tbody>
                
                
            </tbody>
            
        </table>
    </mat-card>
</div>
