.container{
    max-width: 93%;
    
}
h1{
    font-size:inherit
}
mat-form-field{
    width: 100%;
    box-shadow: 50px;
    
}

mat-card{
    height: fit-content;
    
}

.grid-container{
    display:grid;
    grid-template-columns: repeat(4 , 1fr );
    grid-gap:2em ;
    grid-auto-rows: minmax(150px , auto);
    
}



.mat-card-image{
    margin: auto 100px ;
    max-width: 200px;
    max-height: 500px;
    background-size: contain;
}


@media screen and (max-width:700px){
    .n{
        display:none;
    }
    .grid-container{
        display:grid;
        grid-template-columns: repeat(1 , 1fr );
        grid-gap:2em ;
        grid-auto-rows: minmax(100px , auto);
        
    }
    
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 10vw, 2rem); 
}  
  