<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="openSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="!opened">Mhalsa Hardwares</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class=" icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <mat-list>
      <mat-list-item *ngIf="isAuthenticated"><button mat-raised-button color="primary" (click)="logout()">Log Out <mat-icon>logout</mat-icon> </button> </mat-list-item>
    </mat-list>
  </mat-toolbar>