<div class="container">
    <header class="d-flex justify-content-between mt-3"><h1>Contact Info</h1> <span><button mat-raised-button color="primary">Add New Contact <mat-icon>add</mat-icon> </button></span></header>
    <div class="grid-container mt-3">
        <mat-card>
            <h1 class="d-flex justify-content-between"><span>Roshan Bhagat</span> <span style="font-size: 10px;">{{ now }}</span></h1>
            <mat-card-content class="card-grid mt-4">
                <div class="image"></div>
                <div class="contact">
                    <div class="contact_info">
                        <span><mat-icon>mail</mat-icon>Email:roshanbhagat23april@gmail.com</span>
                        <span><mat-icon>phone</mat-icon> Contact No:8080739679</span>
                    </div>
                    
                    <div class="Links">
                        <mat-icon>whatsapp</mat-icon> 
                        <mat-icon>facebook</mat-icon> 
                        <mat-icon>twitter</mat-icon> 
                    </div>
                </div>            </mat-card-content>
        </mat-card>
        <mat-card>
            <h1 class="d-flex justify-content-between"><span>Tanaji Bhagat</span> <span style="font-size: 10px;">{{ now }}</span></h1>
            <mat-card-content class="card-grid mt-4">
               
                <div class="image"></div>
                <div class="contact">
                    <div class="contact_info">
                        <span>Email:roshanbhagat23april@gmail.com</span>
                        <span>Contact No:8080739679</span>
                    </div>
                    
                    <div class="Links">
                        <mat-icon>whatsapp</mat-icon> 
                        <mat-icon>facebook</mat-icon> 
                        <mat-icon>twitter</mat-icon> 
                    </div>
                </div>
                
            </mat-card-content>
        </mat-card>
        <mat-card>
            <h1 class="d-flex justify-content-between"><span>Tanaji Bhagat</span> <span style="font-size: 10px;">{{ now }}</span></h1>
            <mat-card-content class="card-grid mt-4">
               
                <div class="image"></div>
                <div class="contact">
                    <div class="contact_info">
                        <span>Email:roshanbhagat23april@gmail.com</span>
                        <span>Contact No:8080739679</span>
                    </div>
                    
                    <div class="Links">
                        <mat-icon>whatsapp</mat-icon> 
                        <mat-icon>facebook</mat-icon> 
                        <mat-icon>twitter</mat-icon> 
                    </div>
                </div>
                
            </mat-card-content>
        </mat-card>
        
    </div>
</div>