.container{
    max-width:98%;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
mat-card-header{
    font-size: 2em;
    margin: 0 0 28px 0;
}
@media screen and (max-width:800px){
    .grid-container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
    }
}

.image{
    background-image: url('https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
   height: 200px;
   width: 200px;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 200px;
}

mat-card:hover{
    box-sizing: border-box;
    box-shadow: 50px;
}

.card-grid{
    display:grid;
    grid-template-columns: 35% 65%;
    grid-gap: 1rem;
}

.contact{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.contact_info{
    font-size:1.2em;
    align-self: start;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
}
.Links{
    font-size:1.2em;
    align-self: end;
}

